<app-client-form #child1 [client]="client"  (loadContent)="parentLoadClientContent($event)"></app-client-form>
<app-vehicle-form #child2 [vehicle]="vehicle"  (loadContent)="parentLoadVehicleContent($event)"></app-vehicle-form>
<div class="leftback">
    <div id="quest" class="blogwrapstart">
      <h4 style="color: #296BA8;padding: 0;">&nbsp;Данни за Застраховка</h4>
      <div style="height: 15px;">&nbsp;</div>
      <form>
        <div id="criteria_31" class="form-group">
          <fieldset>
            <div style="float: left;width: 32%;padding-left: 5px;">&nbsp;Застрахователна компания</div>
            <div style="float: left;width: 50%;padding-left: 5px;">
              <select class="form-control" id="insuranceCompany" name="insuranceCompany" required [(ngModel)]="insurance.insuranceCompany" #insuranceCompany="ngModel"> 
                <option *ngFor="let t of companiesList" [value]="t.name">{{t.name}}</option>   
              </select>
            </div>
            <div class="clear"></div>
          </fieldset>
        </div>
        <div id="criteria_32" class="form-group">
          <fieldset>
            <div style="float: left;width: 32%;padding-left: 5px;">&nbsp;Начална дата</div>
            <div style="float: left;width: 50%;padding-left: 5px;">
                <!-- to be date field -->
              <input class="form-control" value="{{ today | date }}" id="startDate" name="startDate" required [(ngModel)]="insurance.startDate" #startDate="ngModel">
            </div>
            <div class="clear"></div>
          </fieldset>
        </div>
        <div id="criteria_33" class="form-group">
          <fieldset>
            <div style="float: left;width: 32%;padding-left: 5px;">&nbsp;Застрахователна премия</div>
            <div style="float: left;width: 50%;padding-left: 5px;">
              <input class="form-control" id="totalPayment" name="totalPayment" required [(ngModel)]="insurance.totalPayment" #totalPayment="ngModel">
            </div>
            <div class="clear"></div>
          </fieldset>
        </div>
        <div id="criteria_34" class="form-group">
          <fieldset>
            <div style="float: left;width: 32%;padding-left: 5px;">&nbsp;Брой вноски</div>
            <div style="float: left;width: 50%;padding-left: 5px;">
              <input class="form-control" id="paymentsCount" name="paymentsCount" required [(ngModel)]="insurance.paymentsCount" #paymentsCount="ngModel">
            </div>
            <div class="clear"></div>
          </fieldset>
        </div>
        <div style="height: 10px;">&nbsp;</div>
        <button (click)="CreatePolicy()" class="btn btn-primary">Създай</button>
        <button (click)="FindPolicy()" class="btn btn-primary">Намери</button>
      </form>
    </div>
  </div>