<div class="carousel">
  <ul class="slides">
    <li>
      <h2>
        <p>
          Евтина гражданска отговорност!
        </p>
      </h2>
      <button [routerLink]="['/insurances/online']" class="btn btn-warning">Изберете най-добрата цена</button>
      <img src="http://www.dunavmost.bg/Images/728_416/1/11715e73f4fc4434be5e41d5fe421ab4.jpg">
    </li>
    <li>
      <h2>
        <p>
          Изпратете онлайн запитване за застраховка каско
        </p>
        <p>
          Наш представител ще се свърже с вас!
        </p>
        <p>
          Така ще можете да изберете най подходящия прукт за Вашия автомобил
        </p>
      </h2>
      <button [routerLink]="['/insurances/form']" class="btn btn-warning">Запитване</button>
      <img src="https://izbiram.bg/tmp/field/image/1389011971_strahovoj-sluchaj.jpg">
    </li>
    <li>
      <h2>
        <p>
          Застраховка за дома
        </p>
        <p>
          Отстъпки над 40% само при нас!
        </p>
        <p>
          Индивидуален пакет според нуждите Ви
        </p>
      </h2>
      <button [routerLink]="['/insurances/fom']" class="btn btn-warning">Запитване</button>
      <img src="https://www.dechko.bg/images/biblioteka/statii/145554393935_704_454_crop.jpg">
    </li>
  </ul>
</div>