<form class="form-signin">
  <h2 class="form-signin-heading">Please log in</h2>
  <label for="username">Email address:</label>
  <input type="text" id="username" class="form-control" placeholder="Enter Username" required autofocus [(ngModel)]="username"
    name="username" required #em="ngModel">
  <div [hidden]="em.valid || em.pristine" class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
    <strong>Username is required!</strong>
  </div>
  <label for="password" class="control-label">Password:</label>
  <input type="password" id="password" class="form-control" placeholder="Enter Password" required [(ngModel)]="password" name="password"
    required #pwd1="ngModel">
  <div [hidden]="pwd1.valid || pwd1.pristine" class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
    <strong> Password required! </strong>
  </div>
  <a class="btn btn-lg btn-block btn-primary" (click)="login()">Login</a>
  <a class="btn btn-lg btn-block btn-primary" (click)="signup()">Sign Up</a>
  <a class="btn btn-lg btn-block btn-primary" (click)="cancel()">Back to the Main Site</a>
</form>