<div>
<p>
  ЛК Иншурънс Брокерс e международен застрахователен и презастрахователен брокер, член на групата ASIGEST HOLDING. Oснована
  през 1994г., компанията има забележително присъствие на българския застрахователен пазар. Заема безспорна лидерска позиция
  сред застрахователните брокери, като пласира годишно над 75 млн. лева премии и обслужва над 270 000 застрахователни полици.
  ЛК Иншурънс Брокерс предлага обслужване на клиентите си в цялата страна, чрез постоянно разрастваща се мрежа от
  офиси, към момента наброяваща повече от 170 офиса. Лиценз № 18/06.04.2000 г. за застрахователна дейност, издаден от МФ
  на Р. България в съответствие с българското законодателство.
</p>
<h4>НИЕ ПРЕДЛАГАМЕ:</h4>
<ul>
  <li>Пълен спектър от застрахователни продукти в обхвата на Общото застраховане, Животозастраховане и доброволно здравно застраховане;</li>
  <li>Задълбочено познание на местния застрахователен пазар и  международните застрахователни практики;</li>
  <li>Натрупан опит и професионален екип, които гарантира  застрахователни услуги с качество и отдаденост;</li>
  <li>Оигуряваме на нашите клиенти компетентна помощ при настъпване на щета с цел получаване на справедливо застрахователно обезщетение;</li>
  <li>Богат и разнообразен  портфейл от индивидуални  и корпоративни клиенти, с които са изградени дългосрочни партньорски взаимоотношения;</li>
  <li>Бизнес  модел изцяло фокусиран върху специфичните нужди на всеки клиент – ключ  към нашия успех;</li>
</ul>
</div>