<div class="blogwrapstart">
  <h4 style="color: #296BA8;padding: 0;">&nbsp;Данни за Застрахован</h4>
  <form [formGroup]="client">
    <!-- (ngSubmit)="insurance.resetForm(CreatePolicy(insuranceForm.value))" -->
    <div style="height: 15px;">&nbsp;</div>
    <div id="criteria_21" class="form-group">
      <label style="float: left;width: 32%;padding-left: 5px;" for="clientType">&nbsp;Собственик на МПС </label>
      <select name="clientType" formControlName="clientType" required> 
              <option *ngFor="let t of clientTypes" [value]="t.name">{{t.name}}</option>   
            </select>
      <span *ngIf="clientType.hasError('required') && clientType.touched || (!clientType.valid)" class="text-danger">Изберете вид собственик</span>
      <div class="clear"></div>
    </div>
    <div id="criteria_22" class="form-group">
      <label style="float: left;width: 32%;padding-left: 5px;" for="name">&nbsp;Име</label>
      <input name="name" formControlName="name" required>
      <!-- <span *ngIf="name.hasError('required') && name.touched || (!name.valid)" class="text-danger">Изберете вид собственик</span> -->
      <div class="clear"></div>
    </div>
    <div id="criteria_23" class="form-group">
      <label style="float: left;width: 32%;padding-left: 5px;" for="id">&nbsp;ЕГН/Булстат/ЛНЧ</label>
      <input name="id" formControlName="id" required>
      <!-- <span *ngIf="id.hasError('required') && id.touched || (!id.valid)" class="text-danger">Изберете вид собственик</span> -->
      <div class="clear"></div>
    </div>
    <div id="criteria_24" class="form-group">
      <label style="float: left;width: 32%;padding-left: 5px;" for="adress">&nbsp;Адрес</label>
      <input name="adress" formControlName="adress" required>
      <!-- <span *ngIf="adress.hasError('required') && adress.touched || (!cliadressentType.valid)" class="text-danger">Изберете вид собственик</span> -->
      <div class="clear"></div>
    </div>
    <button (click)="CreateClient()" class="btn btn-primary">Създай</button>
    <button (click)="FindClient()" class="btn btn-primary">Намери</button>  
  </form>
</div>