* {
    outline: none;
}

* {
    text-rendering: optimizeLegibility;
}

#main-wrap {
    max-width: 1000px;
    float: none;
    margin: 0px auto;
    text-align: left;
    color: #777;
}

.leftback {
    text-align: left;
    background-color: #2462AD;
    overflow: hidden;
    padding: 50px 0;
    width: 100%;
    border-radius: 15px;
    margin-top: 65px;
}

.blogwrapstart {
    width: 92%;
    position: relative;
    background-color: white;
    height: auto;
    border: 1px solid #d5d5d5;
    padding: 25px 10px;
    border-radius: 15px;
    margin: 0 auto;
}

blogwrapstart h4 {
    font-size: 16pt;
    width: 100%;
    text-align: left;
    color: #296BA8;
    padding: 0;
}

.contacttextform {
    width: 92%;
    padding: 6px 4% 6px 4%;
    border: 1px solid #d5d5d5;
    color: #286CAD;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
}


div.btn {
    /* background: transparent url('bg-submit-button.png') no-repeat 0 0; */
    display: block;
    float: left;
    height: 35px;
    padding-left: 15px;
}

span.submit_button_end {
    /* background: #fff url('bg-submit-button.png') no-repeat 100% 0; */
    display: block;
    float: left;
    font-weight: normal;
    /* height: 24px; */
}

input.submit_input {
    font-size: 13px;
    background: none;
    border: none;
    padding: 0 0 2px 15px;
    padding-right: 0px;
    color: #fff;
    cursor: pointer;
    position: relative;
    /* height: 22px; */
    line-height: 22px;
    left: -15px;
    margin-right: -15px;
    /* padding: 15px; */
}