.container, .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}

*{
    outline: none !important;
}

*, *::after, *::before {
    box-sizing: border-box;
}

h4{
    color: #09308B;
    text-align: center;
}

.form-group{
    min-height: 50px;
    margin-bottom: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
label.text-center {
    width: 100%;
}

.text-center {
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    max-width: 100%;
}

.btn-group {
    width: 100%;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn .caret, .btn-group > .btn:first-child {
    margin-left: 0;
}

.btn-group .one-half, .btn-group .one-third, .btn-group .one-fourth {
    width: 100%;
    margin-bottom: 5px;
}

label.btn-custom.no-border-right {
    border: 2px solid #09308B !important;
}

label.btn-custom.no-border-right, label.btn-custom.no-border-right:hover {
    border-right: 1px solid #164690;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

md-6{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-group .one-half {
    width: 50%;
}

.btn {
    position: relative;
    float: left;
}

label.btn-custom {
    border-radius: 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    height: 50px;
    font-size: 14px;
    font-weight: bolder;
    background: #fff;
    border: 2px solid #164690;
    color: #164690;
    padding-top: 12px;
}

.btn, .simform__actions .sumbit {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    outline: none;
    outline-offset: 0;
    font-weight: 400;
    box-shadow: none;
    min-width: 90px;
    padding: 10px 14px;
        padding-top: 10px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select, option{
    color: #09308B;
}