<div class="container">
  <h4>
    Гражданска отговорност на автомобилистите
  </h4>
  <h4>
    Виж цените на компаниите! Застраховай евтино!
  </h4>
  <form class="form" method="POST">
    <fieldset>
      <div class="row">
        <!-- Owner person type  -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="text-danger text-center">Застрахован</label>
            <div class="btn-group">
              <label class="btn btn-custom no-border-right one-half" for="person">Физическо лице</label>
              <label class="btn btn-custom one-half" for="entity">Юридическо лице</label>
            </div>
          </div>
        </div>
        <!-- Vehicle type  -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="text-danger text-center" for="vehicle-type">Вид МПС</label>
            <div class="select-wrapper">
              <select id="vehicle-type" class="form-control styled-select" name="vehicle_type">
              <option value="1">Леки автомобил до 1300 куб. см</option>
              <option value="4">Леки автомобил до 1800 куб. см</option>
              <option value="6">Леки автомобил до 2500 куб. см</option>
            </select>
              <span class="select-icon entypo-arrow-combo"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Owner region  -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="text-danger text-center">Регистрация по ДКН</label>
            <div class="btn-group">
              <label class="btn btn-custom no-border-right one-fourth" for="ca">C, CA, CB</label>
            </div>
          </div>
        </div>
        <!-- Owner age  -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="text-danger text-center">Възраст</label>
            <div class="btn-group">
              <label class="btn btn-custom no-border-right one-third" for="25-45">25 - 45г.</label>
              <label class="btn btn-custom no-border-right one-third" for="45">над 45г.</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Active security  -->
        <!-- <div class="col-md-6">
      <div class="form-group">
        <label class="text-danger text-center">Активна грижа на пътя</label>
        <div class="btn-group">
          <label class="btn btn-custom no-border-right one-half active" for="active_security_yes">
                 <i class="button-icon">
                   <img src="https://online.lev-ins.com/images/check.png">
                 </i>
                 Да
              </label>
          <label class="btn btn-custom one-half" for="entity">Юридическо лице</label>
        </div>
      </div>
    </div> -->
        <!-- Owner guilt  -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="text-danger text-center">Претърпявали ли сте ПТП през последните 3 години?</label>
            <div class="btn-group">
              <label class="btn btn-custom no-border-right one-half" for="owner_guilt_yes">Да</label>
              <label class="btn btn-custom one-half" for="owner_guilt_no">Не</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Installments  -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="text-danger text-center" for="installments">Начин на плащане</label>
            <div class="select-wrapper">
              <select id="installments" class="form-control styled-select" name="installments">
                  <option value="1">Еднократно плащане</option>
                  <option value="2">Разсрочено на две вноски</option>
                  <option value="4">Разсрочено на четири вноски</option>
                </select>
              <span class="select-icon entypo-arrow-combo"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="text-danger text-center" for="period">Период</label>
            <div class="select-wrapper">
              <select id="period" class="form-control styled-select" name="policy_period">
                      <option value="366">Една година</option>
          </select>
              <span class="select-icon entypo-arrow-combo"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Submit  -->
        <div class="col-md-6">
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Калкулация</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>