*{
    margin: 0;
    padding: 0
}
div{
    height: 60px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41aefc+0,89cbf9+41,e3f2fd+100 */
    background: rgb(65,174,252); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(65,174,252,1) 0%, rgba(137,203,249,1) 41%, rgba(227,242,253,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(65,174,252,1) 0%,rgba(137,203,249,1) 41%,rgba(227,242,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(65,174,252,1) 0%,rgba(137,203,249,1) 41%,rgba(227,242,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41aefc', endColorstr='#e3f2fd',GradientType=0 ); /* IE6-9 */
}

p{
    text-align: center;
}